{% extends 'base.html' %}

{% block title %}
    Upload File
{% endblock %}
{% block header %}
    <ul class="nav navbar-nav">
            <li><a href="{% url 'homepage' %}">Home</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ name }}</a></li>
                <li><a href = "{% url 'logout' %}">SignOut</a></li>
            </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <div class=" col-md-8 col-md-offset-2" style="margin-top: 50px;" align="center">
            <h2>Fill Out all the Details of the Post</h2>
        </div>
        <div class="col-md-4 col-md-offset-4" style="margin-top: 30px;">
            <form action="{% url 'upload_file' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="sector">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="sector">TimeStamp</label>
                    <input type="text" class="form-control" id="timestamp" name="timestamp" value="{{ timestamp }}">
                </div>
                <div class="form-group">
                    <label for="sector">File</label>
                    <input type="file" class="form-control" id="filee" name="filee">
              </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}