{% extends 'base.html' %}

{% block title %}
    View Image
{% endblock %}
{% block header %}
    <ul class="nav navbar-nav">
            <li><a href="{% url 'homepage' %}">Home</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ name }}</a></li>
                <li><a href = "{% url 'logout' %}">SignOut</a></li>
            </ul>
{% endblock %}

{% block body %}
    <div class="container">
        <div class=" col-md-8 col-md-offset-2" style="margin-top: 50px;" align="center">
            <h2>Images</h2>
        </div>

        {% for i in instance %}
        <div class="col-md-4 col-md-offset-4" style="margin-top: 30px;">
            <img src="{{ i.image.url }}" class="img-responsive">
            <h4>{{ i.username }}</h4>
        </div>
    {% endfor %}
    </div>
{% endblock %}